{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
<div class="row">
    <div class="col-xl-12 mb-6 mb-xl-0">
        <div class="card shadow">
            <div class="card-header bg-transparent border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="text-gray mb-0" id="title">Secrets</h2>
                    </div>
                    <div class="col">
                        <ul id="chart-control" class="nav nav-pills justify-content-end">
                            <li class="nav-item mr-2 mr-md-0">
                                <button id="CR" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#createSecretModal">
                                    <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                                </button>
                            </li>
                            <li class="nav-item mr-2 mr-md-0">
                                <a id="AT" href="/forward-auth/token" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Generate access token">
                                    <span class="d-none d-md-block"><i class="fas fa-key"></i></span>
                                </a>
                            </li>
                            <li class="nav-item mr-2 mr-md-0">
                                <button id="DR" onclick="deleteSecrets()" class="btn btn-primary btn-sm" disabled>
                                    <span class="d-none d-md-block"><i class="fa fa-trash-alt"></i></span>
                                </button>
                            </li>
                            <li class="nav-item mr-2 mr-md-0">
                                <button id="RE" onclick="refreshTable()" class="btn btn-primary btn-sm">
                                    <span class="btn-inner--icon"><i class="fa fa-sync"></i></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush"
                        id="secrets"
                        data-toggle="table"
                        data-search="true">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" data-checkbox="true"></th>
                        <th scope="col" data-width="20" data-width-unit="%" data-sortable="true" data-field="name">Secret</th>
                        <th scope="col" data-width="65" data-width-unit="%" data-field="secret" data-formatter=viewValue>Value</th>
                        <th scope="col" data-width="10" data-width-unit="%" data-formatter=actionFormatter>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="card-footer py-4  border-0">
            </div>
        </div>
    </div>
</div>
{% include 'common/foot.html' %}
<!-- Modal -->
<div class="modal fade" id="createSecretModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title">Create Secret</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input id="key" type="text" class="form-control form-control-alternative" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <textarea id="value" class="form-control form-control-alternative" rows="3" placeholder="Secret"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createSecret()">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script>
    $(document).ready(function() {
        refreshTable();
    });

    function refreshTable() {
        let selectedProjectId = getSelectedProjectId();
        $("#secrets").bootstrapTable('refresh', {url: `/api/v1/secrets/${selectedProjectId}`});
    }

    function createSecret() {
        let selectedProjectId = getSelectedProjectId();
        var secret_data = {
            secret: $("#value").val()
        }
        $.ajax({
            url: `/api/v1/secrets/${selectedProjectId}/${$("#key").val()}`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(secret_data),
            success: function (result) {
                $("#value").val("");
                $("#key").val("");
                $("#modal_title").text("Create Secret")
                $("#secrets").bootstrapTable('refresh');
                $("#createSecretModal").modal('hide');
            }
        });
    }

    function displaySecret(key, clipboard) {
        let selectedProjectId = getSelectedProjectId();
        if ($(`#${key}`).text() === "******") {
            $.ajax({
                url: `/api/v1/secrets/${selectedProjectId}/${key}`,
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (!clipboard){
                        $(`#${key}`).text(result.secret);
                    } else {
                        console.log("Copied");
                    }
                }
            });
        } else {
            $(`#${key}`).text("******")
        }
    }

    function deleteSecret(key) {
        let selectedProjectId = getSelectedProjectId();
        $.ajax({
            url: `/api/v1/secrets/${selectedProjectId}/${key}`,
            type: 'DELETE',
            contentType: 'application/json',
            success: function (result) {
                $("#secrets").bootstrapTable('refresh');
            }
        });
    }

    function editSecret(key) {
        $("#createSecretModal").modal('show');
        $("#modal_title").text("Edit Secret")
        $("#key").val(key);
    }

    function viewValue(value, row, index) {
        return `<span id="${row.name}" style="display:block; width:calc(50vw); word-wrap:break-all; white-space: normal;">${value}</span>`
    }

    function actionFormatter(value, row, index) {
        var key = row.name;
        return [
            `<a class="project-select mr-2" href="javascript:void(0)" onclick="displaySecret('${key}', false)"><i class="far fa-eye"></i></span></a>`,
            `<a class="project-select mr-2" href="javascript:void(0)" onclick="editSecret('${key}')"><i class="fas fa-pen"></i></span></a>`,
            `<a class="project-select mr-2" href="javascript:void(0)" onclick="deleteSecret('${key}')"><i class="fa fa-trash"></i></span></a>`
            ].join('')
    }

</script>
</body>
</html>
