{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Files from {{ bucket }}</h3>
                  <br />
                </div>
                <div class="col-4 text-right">
                    <div class="dropdown">
                      <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ni ni-box-2"></i>
                          <span class="nav-link-inner--text">Buckets</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                          <a class="dropdown-item" data-toggle="modal" data-target="#modal-form">Create New Bucket</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" data-toggle="modal" data-target="#delete-form">Delete {{ bucket }}</a>
                          <div class="dropdown-divider"></div>
                          {% for b in buckets %}
                          <a class="dropdown-item" href="artifacts?q={{ b }}">{{ b }}</a>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal fade" id="delete-form" tabindex="-1" role="dialog" aria-labelledby="delete-form" aria-hidden="true">
                  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                      <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                                <div class="card-body px-lg-5 py-lg-5">
                                    <div class="text-muted text-center mt-2 mb-3">Confirm Deletion of  {{ bucket }}</div>
                                    <br />
                                    <a href="/artifacts/{{bucket}}/delete" type="button" class="btn btn-warning">Confirm</a>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                      <div class="modal-content">
                          <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                                <div class="card-body px-lg-5 py-lg-5">
                                    <div class="text-muted text-center mt-2 mb-3">Create bucket</div>
                                    <form role="form" action="/artifacts/bucket" method="POST">
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-box-2"></i></span>
                                                </div>
                                                <input class="form-control" name="bucket" placeholder="Bucket name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                                </div>
                                                <input class="form-control" name="encryption" placeholder="Excription key (optional)" type="password">
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Size</th>
                          <th scope="col">Modified</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for f in files %}
                        <span>
                          <th scope="row">
                            <a href="/artifacts/{{ bucket }}/{{ f.name }}">{{ f.name }}</a>
                          </th>
                          <td>
                            {{ f.size }}
                          </td>
                          <td>
                              {{ f.modified }}
                          </td>
                          <td class="text-right">
                              <a class="nav-link nav-link-icon" href="/artifacts/{{ bucket }}/{{ f.name }}/delete" id="delete_file">
                                  <i class="ni ni-fat-remove"></i>
                                  <span class="nav-link-inner--text">Delete</span>
                              </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-4">
                    <form action="/artifacts/{{ bucket }}/upload" class="dropzone needsclick dz-clickable" id="demo-upload">
                      <div class="dz-message needsclick">
                        Drop files here or click to upload.<br>
                      </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="card-footer py-4">
              <!--<nav aria-label="...">-->
                <!--<ul class="pagination justify-content-end mb-0">-->
                  <!--<li class="page-item disabled">-->
                    <!--<a class="page-link" href="#" tabindex="-1">-->
                      <!--<i class="fas fa-angle-left"></i>-->
                      <!--<span class="sr-only">Previous</span>-->
                    <!--</a>-->
                  <!--</li>-->
                  <!--<li class="page-item active">-->
                    <!--<a class="page-link" href="#">1</a>-->
                  <!--</li>-->
                  <!--<li class="page-item">-->
                    <!--<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
                  <!--</li>-->
                  <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                  <!--<li class="page-item">-->
                    <!--<a class="page-link" href="#">-->
                      <!--<i class="fas fa-angle-right"></i>-->
                      <!--<span class="sr-only">Next</span>-->
                    <!--</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</nav>-->
            </div>
          </div>
        </div>
      </div>
{% include 'common/foot.html' %}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
</body>
</html>