
.preview {
    width:400px; height:400px;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
}

.modal {
    font-size: 0.8rem;
}

.pagination-info {
    padding-left: 20px;
}

.search-input {
 margin-right: 25px;
}

.badge-success-empty
{
    color: #1aae6f;
    background-color: #fff;
}
.badge-success-empty[href]:hover,
.badge-success-empty[href]:focus
{
    text-decoration: none;

    color: rgba(147, 231, 195, .5);
    background-color: #fff;
}


/* region donut */

.card-header .donut-holder { text-decoration: none; }

.card-header .donut-holder:hover { text-decoration: none;}

.card-header .green-fill { fill: #23ac58;}

.card-header .green-stroke { stroke: #23ac58;}

.card-header .yellow-fill { fill: #ffc100;}

.card-header .yellow-stroke { stroke: #ffc100;}

.card-header .red-fill { fill: #e50a0a;}

.card-header .red-stroke { stroke: #e50a0a;}

.donut {
  background: #fff;
  justify-content: center;
  height: 42px;
  width: 42px;
  align-items: center;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 40px) {
  .card-header .donut {
    margin: 0 auto;
  }
}

.card-header .donut-title {
  display: block;
  text-align: center;
  margin: 1em 0;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.card-header .donut-textfield a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
  font-weight: 300;
}

.card-header .donut-canvas {
  display: inline-block;
  position: relative;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

button.dropdown-toggle {
    background-color: white;
    color: #6f6b6b;
    border-color: #cbe5f4;
    box-shadow: none;
}

.dropdown-header {
    color: #787c7d;
}

.bs-searchbox .form-control {
    height: calc(2rem + 2px);
}

