.preview {
    width:400px; height:400px;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
}

.modal {
    font-size: 0.8rem;
}

.pagination-info {
    padding-left: 20px;
}

.search-input {
 margin-right: 25px;
}
