{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Create Project</h3>
                </div>
                <div class="col-4 text-right">
                    <button onclick="submit()" id="submit_button" class="btn btn-sm btn-primary">Save</button>
                    <a href="/projects" class="btn btn-sm btn-primary">Cancel</a>
                </div>
              </div>
            </div>
            {% include 'projects/create_edit_project_piece.html' %}
          </div>
        </div>
      </div>
{% include 'common/foot.html' %}
<script>
    function repaintProjects(data) {
        $("#proj_name").val(data.name);
        $("#proj_owner").val(data.project_owner);
        $("#perf").val(data.performance_enabled ? "enabled" : "disabled");
        $("#sast").val(data.sast_enabled ? "enabled" : "disabled" );
        $("#dast").val(data.dast_enabled ? "enabled" : "disabled" );
        $("#perf").selectpicker("refresh")
        $("#sast").selectpicker("refresh")
        $("#dast").selectpicker("refresh")
    }

    function submit() {
        //let active_package = $(".card-shadow-active").find("span").text()
        $("#submit_button").html(`<span class="spinner-border spinner-border-sm"></span>`);
        $("#submit_button").addClass("disabled");
        if ($("#performance_test_runs_unlimited").prop('checked')) {
            perf_tests_limit = -1
        } else {
            perf_tests_limit = $("#performance_test_runs_value").html()
        }
        if ($("#ui_performance_test_runs_unlimited").prop('checked')) {
            ui_perf_tests_limit = -1
        } else {
            ui_perf_tests_limit = $("#ui_performance_test_runs_value").html()
        }
        if ($("#sast_scans_unlimited").prop('checked')) {
            sast_scans_limit = -1
        } else {
            sast_scans_limit = $("#sast_scans_value").html()
        }
        if ($("#dast_scans_unlimited").prop('checked')) {
            dast_scans_limit = -1
        } else {
            dast_scans_limit = $("#dast_scans_value").html()
        }
        if ($("#tasks_count_unlimited").prop('checked')) {
            tasks_count_limit = -1
        } else {
            tasks_count_limit = $("#tasks_count_value").html()
        }
        if ($("#task_executions_unlimited").prop('checked')) {
            task_executions_limit = -1
        } else {
            task_executions_limit = $("#tasks_executions_value").html()
        }
        if ($("#storage_space_unlimited").prop('checked')) {
            storage_space_limit = -1
        } else {
            storage_space_limit = $("#storage_space_value").html()
        }
        if ($("#data_retention_limit_unlimited").prop('checked')) {
            data_retention_limit = -1
        } else {
            data_retention_limit = $("#data_retention_limit_value").html()
        }
        var project_data = {
            name: $("#proj_name").val(),
            owner: $("#proj_owner").val(),
            sast_enabled: $("#sast").val(),
            dast_enabled: $("#dast").val(),
            performance_enabled: $("#perf").val(),
            perf_tests_limit: perf_tests_limit,
            ui_perf_tests_limit: ui_perf_tests_limit,
            sast_scans_limit: sast_scans_limit,
            dast_scans_limit: dast_scans_limit,
            tasks_count_limit: tasks_count_limit,
            task_executions_limit: task_executions_limit,
            storage_space_limit: storage_space_limit,
            data_retention_limit: data_retention_limit
        }
        $.ajax({
            url: `/api/v1/project`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(project_data),
            success: function (result) {
                window.location.href = "/projects"
            }
        });
    }

    function disableSlider(checkboxID, sliderID, shieldID) {
        var slider = document.getElementById(sliderID)
        if ($(`#${checkboxID}`).prop( "checked" )) {
            slider.setAttribute('disabled', true);
            $(`#${shieldID}`).text("Unlimited");
        } else {
            slider.removeAttribute('disabled');
            if (shieldID == "storage_space") {
                let storage_space_value = parseInt($("#storage_space_value").html())
                let storage_space_current_value;
                if (storage_space_value < 1000) {
                    storage_space_current_value = "0 Mb / " + storage_space_value + " Mb";
                } else {
                    storage_space_current_value = "0 Mb / " + storage_space_value/1000 + " Gb";
                }
                $("#storage_space").text(storage_space_current_value);
            } else if (shieldID == "data_retention_limit") {
                let retention_limit_value = parseInt($("#data_retention_limit_value").html())
                let retention_limit_current_value;
                if (retention_limit_value == 365) {
                    retention_limit_current_value = "1 year";
                } else {
                    retention_limit_current_value = retention_limit_value/30 + " month";
                }
                $("#data_retention_limit").text(retention_limit_current_value);
            } else {
                let current_value = "0 / " + $(`#${shieldID}_value`).html();
                $(`#${shieldID}`).text(current_value);
            }
        }
    }

    function setFocus(id) {
        ["basic", "startup", "enterprise", "professional"].forEach( item => {
            if ($(`#${item}`).hasClass("card-shadow-active")) {
                $(`#${item}`).removeClass( "card-shadow-active" ).addClass( "card-shadow" );
            }
        })
        $(`#${id}`).removeClass( "card-shadow" ).addClass( "card-shadow-active" );

    }

    $('#performance_test_runs_value').on('DOMSubtreeModified',function(){
         let current_value = "0 / " + $("#performance_test_runs_value").html()
         $("#performance_test_runs").text(current_value);
    })

    $('#ui_performance_test_runs_value').on('DOMSubtreeModified',function(){
         let current_value = "0 / " + $("#ui_performance_test_runs_value").html()
         $("#ui_performance_test_runs").text(current_value);
    })

    $('#sast_scans_value').on('DOMSubtreeModified',function(){
         let current_value = "0 / " + $("#sast_scans_value").html()
         $("#sast_scans").text(current_value);
    })

    $('#dast_scans_value').on('DOMSubtreeModified',function(){
         let current_value = "0 / " + $("#dast_scans_value").html()
         $("#dast_scans").text(current_value);
    })

    $('#tasks_count_value').on('DOMSubtreeModified',function(){
         let current_value = "0 / " + $("#tasks_count_value").html()
         $("#tasks_count").text(current_value);
    })

    $('#tasks_executions_value').on('DOMSubtreeModified',function(){
         let current_value = "0 / " + $("#tasks_executions_value").html()
         $("#tasks_executions").text(current_value);
    })

    $('#storage_space_value').on('DOMSubtreeModified',function(){
        let storage_space_value = parseInt($("#storage_space_value").html())
        let storage_space_current_value;
        if (storage_space_value < 1000) {
           storage_space_current_value = "0 Mb / " + storage_space_value + " Mb";
           } else {
           storage_space_current_value = "0 Mb / " + storage_space_value/1000 + " Gb";
           }
        $("#storage_space").text(storage_space_current_value);
    })

    $('#data_retention_limit_value').on('DOMSubtreeModified',function(){
        let retention_limit_value = parseInt($("#data_retention_limit_value").html())
        let retention_limit_current_value;
        if (retention_limit_value == 365) {
           retention_limit_current_value = "1 year";
           } else {
           retention_limit_current_value = retention_limit_value/30 + " month";
           }
        $("#data_retention_limit").text(retention_limit_current_value);
    })

    $(document).ready(function() {
        ["performance_test_runs", "ui_performance_test_runs", "sast_scans", "dast_scans", "tasks_count", "tasks_executions"].forEach( item => {
            let current_value = "0 / " + $(`#${item}_value`).html()
            $(`#${item}`).text(current_value);
        })
        let storage_space_value = parseInt($("#storage_space_value").html())
        let storage_space_current_value;
        if (storage_space_value < 1000) {
           storage_space_current_value = "0 Mb / " + storage_space_value + " Mb";
           } else {
           storage_space_current_value = "0 Mb / " + storage_space_value/1000 + " Gb";
           }
        $("#storage_space").text(storage_space_current_value);
        let retention_limit_value = parseInt($("#data_retention_limit_value").html())
        let retention_limit_current_value;
        if (retention_limit_value == 365) {
           retention_limit_current_value = "1 year";
           } else {
           retention_limit_current_value = retention_limit_value/30 + " month";
           }
        $("#data_retention_limit").text(retention_limit_current_value);

    });

</script>
</body>
</html>
