{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Project Settings</h3>
                </div>
                <div class="col-4 text-right">
                    <a href="#" onclick="submit()" class="btn btn-sm btn-primary">Save</a>
                    <a href="/" class="btn btn-sm btn-primary">Cancel</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="#" id="project">
                <h6 class="heading-small text-muted mb-4">Project Details</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="proj_name">Project Name</label>
                        <input type="text" id="proj_name" class="form-control form-control-alternative" placeholder="Project Name" value="" disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="proj_owner">Project Lead</label>
                        <input type="text" id="proj_owner" class="form-control form-control-alternative" placeholder="Project Lead" value="" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="perf">Performance</label>
                        <p><small>Visibility of performance controls</small></p>
                        <select class="selectpicker show-tick form-control form-control-sm " id="perf">
                            <option>enabled</option>
                            <option>disabled</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="sast">Static Security Scanning</label>
                        <p><small>Visibility of SAST controls</small></p>
                        <select class="selectpicker show-tick form-control form-control-sm " id="sast">
                            <option>enabled</option>
                            <option>disabled</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="dast">Dynamic Security Scanning</label>
                        <p><small>Visibility of DAST controls</small></p>
                        <select class="selectpicker show-tick form-control form-control-sm " id="dast">
                            <option>enabled</option>
                            <option>disabled</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Project Quotas</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card mb-3 card-shadow-active" id="basic" onclick="setFocus('basic')" >
                              <div class="card-body" style="height: 20rem;">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0 package">Basic</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0">20 USD/month</h5>

                                    </div>
                                    <div class="col-auto">
                                      <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                          <i class="fa fa-cookie-bite"></i>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3">
                                        <ul class="text-uppercase text-muted small">
                                            <li>1 community agent</li>
                                            <li>3 tasks</li>
                                            <li>100 mb storage</li>
                                            <li>10 performance tests / month</li>
                                            <li>10 code security scans / month</li>
                                            <li>0 Application security scans / month</li>
                                            <li>300 task executions</li>
                                            <li>Community support</li>
                                        </ul>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card mb-3 card-shadow" id="startup" onclick="setFocus('startup')" >
                              <div class="card-body" style="height: 20rem;">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0 package">Startup</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0">199 USD/month</h5>

                                    </div>
                                    <div class="col-auto">
                                      <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                          <i class="fa fa-cookie"></i>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3">
                                        <ul class="text-uppercase text-muted small">
                                            <li>3 community agent</li>
                                            <li>Unlimited self-hosted agent</li>
                                            <li>5 tasks</li>
                                            <li>500 mb storage</li>
                                            <li>100 performance tests / month</li>
                                            <li>100 code security scans / month</li>
                                            <li>20 Application security scans / month</li>
                                            <li>1000 task executions</li>
                                            <li>up to 10 hours of support</li>
                                        </ul>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card mb-3 card-shadow" id="professional" onclick="setFocus('professional')" >
                              <div class="card-body" style="height: 20rem;">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0 package">Professional</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0">499 USD/month</h5>

                                    </div>
                                    <div class="col-auto">
                                      <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                          <i class="fas fa-ice-cream"></i>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3">
                                        <ul class="text-uppercase text-muted small">
                                            <li>5 community agent</li>
                                            <li>Unlimited self-hosted agent</li>
                                            <li>10 tasks</li>
                                            <li>1 Gb storage</li>
                                            <li>1000 performance tests / month</li>
                                            <li>1000 code security scans / month</li>
                                            <li>100 Application security scans / month</li>
                                            <li>10000 task executions</li>
                                            <li>up to 40 hours of support</li>
                                        </ul>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card mb-3 card-shadow" id="enterprise" onclick="setFocus('enterprise')">
                              <div class="card-body" style="height: 20rem;">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0 package">Enterprise</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0">Contact us</h5>

                                    </div>
                                    <div class="col-auto">
                                      <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                          <i class="fa fa-birthday-cake"></i>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3">
                                        <ul class="text-uppercase text-muted small">
                                            <li>Dedicated agents</li>
                                            <li>Unlimited self-hosted agent</li>
                                            <li>Fixed cost personal plans</li>
                                            <li>On-Premises options</li>
                                            <li>Customization options</li>
                                            <li>Priority support</li>
                                        </ul>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
{% include 'common/foot.html' %}
<script>
    function repaintProjects(data) {
        $("#proj_name").val(data.name);
        $("#proj_owner").val(data.project_owner);
        $("#perf").val(data.performance_enabled ? "enabled" : "disabled");
        $("#sast").val(data.sast_enabled ? "enabled" : "disabled" );
        $("#dast").val(data.dast_enabled ? "enabled" : "disabled" );
        $("#perf").selectpicker("refresh")
        $("#sast").selectpicker("refresh")
        $("#dast").selectpicker("refresh")
    }

    function getProjectDetails() {
        let project_id = getSelectedProjectId();
        fetch(`/api/v1/project/${project_id}`)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                repaintProjects(data)
            })
            .catch(err => console.log("Fetch Error :-S", err));
    }

    function submit() {
        let selectedProjectId = getSelectedProjectId();
        let active_package = $(".card-shadow-active").find("span").text()
        var project_data = {
            name: $("#proj_name").val(),
            owner: $("#proj_owner").val(),
            sast_enabled: $("#sast").val(),
            dast_enabled: $("#dast").val(),
            performance_enabled: $("#perf").val(),
            package: active_package
        }
        console.log(project_data)
        $.ajax({
            url: `/api/v1/project/${selectedProjectId}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(project_data),
            success: function (result) {
                window.location.href = "/projects"
            }
        });
    }

    function setFocus(id) {
        ["basic", "startup", "enterprise", "professional"].forEach( item => {
            if ($(`#${item}`).hasClass("card-shadow-active")) {
                $(`#${item}`).removeClass( "card-shadow-active" ).addClass( "card-shadow" );
            }
        })
        $(`#${id}`).removeClass( "card-shadow" ).addClass( "card-shadow-active" );

    }

    function getProjectQuota() {
        let project_id = getSelectedProjectId();
        fetch(`/api/v1/quota/${project_id}`)
            .then(response => response.json())
            .then(data => {
                setFocus(data.name)
            })
            .catch(err => console.log("Fetch Error :-S", err));
    }

    $(document).ready(function() {
        getProjectDetails();
        getProjectQuota();
    });


</script>
</body>
</html>
