{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Project Settings</h3>
                    </div>
                    <div class="col-4 text-right">
                        <a href="#" onclick="submit()" class="btn btn-sm btn-primary">Save</a>
                        <a href="/" class="btn btn-sm btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
            {% include 'projects/create_edit_project_piece.html' %}
            {% include 'projects/integrations/integrations.html' %}
            {% if is_superadmin %}
                {% include 'projects/quotas/quotas.html' %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>

{% include 'projects/integrations/jiramodal.html' %}
{% include 'projects/integrations/rpmodal.html' %}
{% include 'projects/integrations/smtpmodal.html' %}
{% include 'common/foot.html' %}
<script>
    function repaintProjects(data) {
        $("#proj_name").val(data.name);
        $("#proj_owner").val(data.project_owner);
        $("#perf").val(data.performance_enabled ? "enabled" : "disabled");
        $("#sast").val(data.sast_enabled ? "enabled" : "disabled" );
        $("#dast").val(data.dast_enabled ? "enabled" : "disabled" );
        $("#perf").selectpicker("refresh").trigger("change")
        $("#sast").selectpicker("refresh").trigger("change")
        $("#dast").selectpicker("refresh").trigger("change")
        if (data.package == "custom") {
            disablePackageSelector();
        } else if (data.package == "basic") {
            document.getElementById("input-slider-package").noUiSlider.set(1);
            enablePackageSelector();
        } else if (data.package == "startup") {
            document.getElementById("input-slider-package").noUiSlider.set(2);
            enablePackageSelector();
        } else if (data.package == "professional") {
            document.getElementById("input-slider-package").noUiSlider.set(3);
            enablePackageSelector();
        } else if (data.package == "enterprise") {
            document.getElementById("input-slider-package").noUiSlider.set(4);
            enablePackageSelector();
        }
    }

    function testIntegration(integration) {
        $(`#${integration}_test_button`).html(`<span class="spinner-border spinner-border-sm"></span>`);
        $(`#${integration}_test_button`).addClass("disabled");
        let project_id = getSelectedProjectId();
        let settings = {}
        if (integration == "jira") {
            settings = {
                "integration": integration,
                "test": "True",
                "config": {
                    jira_url: $("#jira_url").val(),
                    jira_login: $("#jira_login").val(),
                    jira_password: $("#jira_password").val(),
                    jira_project: $("#jira_project").val(),
                    issue_type: $("#issue_type").val()
                }
            }
            status_message = "#jira_status"
        } else if (integration == "smtp") {
            settings = {
                "integration": integration,
                "test": "True",
                "config": {
                    smtp_host: $("#smtp_host").val(),
                    smtp_port: $("#smtp_port").val(),
                    smtp_user: $("#smtp_user").val(),
                    smtp_password: $("#smtp_password").val(),
                    smtp_sender: $("#smtp_sender").val()
                }
            }
            status_message = "#smtp_status"
        } else if (integration == "rp") {
            settings = {
                "integration": integration,
                "test": "True",
                "config": {
                    rp_host: $("#rp_host").val(),
                    rp_token: $("#rp_token").val(),
                    rp_project: $("#rp_project").val()
                }
            }
            status_message = "#rp_status"
        }
        $.ajax({
                url: `/api/v1/reporters/${project_id}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(settings),
                success: function (data) {
                    $(`${status_message}`).text(data["message"]);
                    $(`#${integration}_test_button`).html(`<button type="button" class="btn btn-secondary" onclick="testIntegration('${integration}')">Test</button>`);
                    $(`#${integration}_test_button`).removeClass("disabled");
                }
            });
    }

    function saveIntegration(integration) {
        $(`#${integration}_save_button`).html(`<span class="spinner-border spinner-border-sm"></span>`);
        $(`#${integration}_save_button`).addClass("disabled");
        let project_id = getSelectedProjectId();
        let settings = {}
        if (integration == "jira") {
            settings = {
                "integration": integration,
                "test": "False",
                "config": {
                    jira_url: $("#jira_url").val(),
                    jira_login: $("#jira_login").val(),
                    jira_password: $("#jira_password").val(),
                    jira_project: $("#jira_project").val(),
                    issue_type: $("#issue_type").val()
                }
            }
            modal = "#jiraModal"
            status_message = "#jira_status"
        } else if (integration == "smtp") {
            settings = {
                "integration": integration,
                "test": "False",
                "config": {
                    smtp_host: $("#smtp_host").val(),
                    smtp_port: $("#smtp_port").val(),
                    smtp_user: $("#smtp_user").val(),
                    smtp_password: $("#smtp_password").val(),
                    smtp_sender: $("#smtp_sender").val()
                }
            }
            modal = "#smtpModal"
            status_message = "#smtp_status"
        } else if (integration == "rp") {
            settings = {
                "integration": integration,
                "test": "False",
                "config": {
                    rp_host: $("#rp_host").val(),
                    rp_token: $("#rp_token").val(),
                    rp_project: $("#rp_project").val()
                }
            }
            modal = "#rpModal"
            status_message = "#rp_status"
          }
        $.ajax({
                url: `/api/v1/reporters/${project_id}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(settings),
                success: function (data) {
                    if (data["message"].includes("Failed")) {
                        $(`${status_message}`).text(data["message"]);
                    } else {
                        $(`${modal}`).modal('toggle');
                    }
                }
            });
    }

    function getProjectDetails() {
        let project_id = getSelectedProjectId();
        fetch(`/api/v1/project/${project_id}`)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                repaintProjects(data)
            })
            .catch(err => console.log("Fetch Error :-S", err));
    }

    function submit() {
        let selectedProjectId = getSelectedProjectId();
        package = $("#selected_package").html()
        if ($("#performance_test_runs_unlimited").prop('checked')) {
            perf_tests_limit = -1
        } else {
            perf_tests_limit = $("#performance_test_runs_value").html()
        }
        if ($("#ui_performance_test_runs_unlimited").prop('checked')) {
            ui_perf_tests_limit = -1
        } else {
            ui_perf_tests_limit = $("#ui_performance_test_runs_value").html()
        }
        if ($("#sast_scans_unlimited").prop('checked')) {
            sast_scans_limit = -1
        } else {
            sast_scans_limit = $("#sast_scans_value").html()
        }
        if ($("#dast_scans_unlimited").prop('checked')) {
            dast_scans_limit = -1
        } else {
            dast_scans_limit = $("#dast_scans_value").html()
        }
        if ($("#tasks_count_unlimited").prop('checked')) {
            tasks_count_limit = -1
        } else {
            tasks_count_limit = $("#tasks_count_value").html()
        }
        if ($("#tasks_executions_unlimited").prop('checked')) {
            task_executions_limit = -1
        } else {
            task_executions_limit = $("#tasks_executions_value").html()
        }
        if ($("#storage_space_unlimited").prop('checked')) {
            storage_space_limit = -1
        } else {
            storage_space_limit = $("#storage_space_value").html()
        }
        if ($("#data_retention_limit_unlimited").prop('checked')) {
            data_retention_limit = -1
        } else {
            data_retention_limit = $("#data_retention_limit_value").html()
        }
        var project_data = {
            name: $("#proj_name").val(),
            owner: $("#proj_owner").val(),
            sast_enabled: $("#sast").val(),
            dast_enabled: $("#dast").val(),
            performance_enabled: $("#perf").val(),
            package: package,
            perf_tests_limit: perf_tests_limit,
            ui_perf_tests_limit: ui_perf_tests_limit,
            sast_scans_limit: sast_scans_limit,
            dast_scans_limit: dast_scans_limit,
            tasks_count_limit: tasks_count_limit,
            task_executions_limit: task_executions_limit,
            storage_space_limit: storage_space_limit,
            data_retention_limit: data_retention_limit
        }
        console.log(project_data)
        $.ajax({
            url: `/api/v1/project/${selectedProjectId}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(project_data),
            success: function (result) {
                window.location.href = "/projects"
            }
        });
    }

    function disableSlider(checkboxID, sliderID, shieldID) {
        disablePackageSelector()
        var slider = document.getElementById(sliderID)
        if ($(`#${checkboxID}`).prop( "checked" )) {
            slider.setAttribute('disabled', true);
            let current_value = $(`#${shieldID}`).html();
            if (current_value != "Unlimited") {
                $(`#${checkboxID}`).prop( "name", current_value);
            }
            $(`#${shieldID}`).text("Unlimited");
        } else {
            slider.removeAttribute('disabled');
            let current_value = $(`#${checkboxID}`).prop( "name" );
            $(`#${shieldID}`).text(current_value);

        }
    }

    function getProjectQuota() {
        let project_id = getSelectedProjectId();
        $.ajax({
            async: false,
            type: "GET",
            url: `/api/v1/statistic/${project_id}`,
            success: function (data) {
                console.log(data)
                Object.keys(data).forEach(function(item) {
                    if (item == "storage_space") {
                        if (data[item]["current"] < 1000) {
                            current = data[item]["current"] + " Mb";
                        } else {
                            current = data[item]["current"]/1000 + " Gb";
                        }
                        if (data[item]["current"] < 1000) {
                            quota = data[item]["quota"] + " Mb";
                        } else {
                            quota = data[item]["quota"]/1000 + " Gb";
                        }
                        $("#storage_space").text(current + " / " + quota);
                    } else if (item == "data_retention_limit") {
                        let retention_limit_value = data[item]["quota"]
                        let retention_limit_current_value;
                        if (retention_limit_value == 365) {
                            retention_limit_current_value = "1 year";
                        } else {
                            retention_limit_current_value = retention_limit_value/30 + " month";
                        }
                        $("#data_retention_limit").text(retention_limit_current_value);
                    } else {
                        let current_value = data[item]["current"] + " / " + data[item]["quota"]
                        $(`#${item}`).text(current_value);
                    }
                    if (data[item]["quota"] == -1) {
                        $(`#${item}_unlimited`).prop( "checked", true)
                        disableSlider(`${item}_unlimited`, `input-slider-${item}`, item)
                    } else {
                        $(`#${item}_value`).text(data[item]["quota"]);
                        var slider = document.getElementById(`input-slider-${item}`)
                        slider.noUiSlider.set(data[item]["quota"]);
                    }
                })

            }
        });
    }

    function packageSelector() {
        if ($("#package_selector").prop( "checked" )) {
            disablePackageSelector()
        } else {
            enablePackageSelector()
        }
    }

    function disablePackageSelector() {
        $("#selected_package").text("Custom");
        $("#package_selector").prop( "checked", true )
        var slider = document.getElementById("input-slider-package")
        slider.setAttribute('disabled', true);
    }

    function enablePackageSelector() {
        let package_id = $("#selected_package_name").html()
        let package = getPackageById(package_id);
        $("#selected_package").text(package);
        var slider = document.getElementById("input-slider-package")
        slider.removeAttribute('disabled');
        slider.noUiSlider.set(package_id);
        $("#package_selector").prop( "checked", false )
    }

    $('#selected_package_name').on('DOMSubtreeModified',function(){
         let package_id = $("#selected_package_name").html()
         let current_value = getPackageById(package_id);
         $("#selected_package").text(current_value);
         setQuotaForPackage(current_value);
    })

    function setQuotaForPackage(package) {
        if (package == "Basic") {
            setQuotaForBasicPackage();
        } else if (package == "Startup") {
            setQuotaForStartupPackage();
        } else if (package == "Professional") {
            setQuotaForProfessionalPackage();
        } else if (package == "Enterprise") {
            setQuotaForEnterprisePackage();
        }
        enablePackageSelector();
    }

    function setQuotaForBasicPackage() {
        enableAllSliders();
        document.getElementById("input-slider-performance_test_runs").noUiSlider.set(10);
        document.getElementById("input-slider-ui_performance_test_runs").noUiSlider.set(10);
        document.getElementById("input-slider-sast_scans").noUiSlider.set(10);
        document.getElementById("input-slider-dast_scans").noUiSlider.set(1);
        document.getElementById("input-slider-tasks_count").noUiSlider.set(3);
        document.getElementById("input-slider-tasks_executions").noUiSlider.set(250);
        document.getElementById("input-slider-storage_space").noUiSlider.set(100);
        document.getElementById("input-slider-data_retention_limit").noUiSlider.set(30);
    }

    function setQuotaForStartupPackage() {
        enableAllSliders();
        document.getElementById("input-slider-performance_test_runs").noUiSlider.set(100);
        document.getElementById("input-slider-ui_performance_test_runs").noUiSlider.set(100);
        document.getElementById("input-slider-sast_scans").noUiSlider.set(100);
        document.getElementById("input-slider-dast_scans").noUiSlider.set(20);
        document.getElementById("input-slider-tasks_count").noUiSlider.set(5);
        document.getElementById("input-slider-tasks_executions").noUiSlider.set(1000);
        document.getElementById("input-slider-storage_space").noUiSlider.set(500);
        document.getElementById("input-slider-data_retention_limit").noUiSlider.set(90);
    }

    function setQuotaForProfessionalPackage() {
        enableAllSliders();
        document.getElementById("input-slider-performance_test_runs").noUiSlider.set(1000);
        document.getElementById("input-slider-ui_performance_test_runs").noUiSlider.set(1000);
        document.getElementById("input-slider-sast_scans").noUiSlider.set(1000);
        document.getElementById("input-slider-dast_scans").noUiSlider.set(100);
        document.getElementById("input-slider-tasks_count").noUiSlider.set(10);
        document.getElementById("input-slider-storage_space").noUiSlider.set(1000);
        document.getElementById("input-slider-data_retention_limit").noUiSlider.set(180);
        $("#tasks_executions_unlimited").prop( "checked", true );
        disableSlider("tasks_executions_unlimited", "input-slider-tasks_executions", "tasks_executions")
    }

    function setQuotaForEnterprisePackage() {
        enableAllSliders()
        const arr = ["performance_test_runs", "ui_performance_test_runs", "sast_scans", "dast_scans", "tasks_count", "tasks_executions", "storage_space", "data_retention_limit"];
        arr.forEach(item => {
            $(`#${item}_unlimited`).prop( "checked", true );
            disableSlider(`${item}_unlimited`, `input-slider-${item}`, item)
        });
    }

    function enableAllSliders() {
        ["performance_test_runs", "ui_performance_test_runs", "sast_scans", "dast_scans", "tasks_count", "tasks_executions", "storage_space", "data_retention_limit"].forEach( item => {
            $(`#${item}_unlimited`).prop( "checked", false );
            let current_value = $(`#${item}`).html();
            if (current_value != "Unlimited") {
                $(`#${item}_unlimited`).prop( "name", current_value);
            }
            disableSlider(`${item}_unlimited`, `input-slider-${item}`, item)
        })
    }

    function getPackageById(package_id) {
        let package;
         if (package_id == 1) {
            package = "Basic";
         } else if (package_id == 2) {
            package = "Startup";
         } else if (package_id == 3) {
            package = "Professional";
         } else if (package_id == 4) {
            package = "Enterprise";
         }
         return package
    }

    $('#performance_test_runs_value').on('DOMSubtreeModified',function() {
         let prev_value = $("#performance_test_runs").html()
         let current_value = $("#performance_test_runs_value").html()
         var new_value = prev_value.split("/")[0] + "/ " + current_value
         $("#performance_test_runs").text(new_value);
         disablePackageSelector()
    })

    $('#ui_performance_test_runs_value').on('DOMSubtreeModified',function(){
         let prev_value = $("#ui_performance_test_runs").html()
         let current_value = $("#ui_performance_test_runs_value").html()
         var new_value = prev_value.split("/")[0] + "/ " + current_value
         $("#ui_performance_test_runs").text(new_value);
         disablePackageSelector()
    })

    $('#sast_scans_value').on('DOMSubtreeModified',function(){
         let prev_value = $("#sast_scans").html()
         let current_value = $("#sast_scans_value").html()
         var new_value = prev_value.split("/")[0] + "/ " + current_value
         $("#sast_scans").text(new_value);
         disablePackageSelector()
    })

    $('#dast_scans_value').on('DOMSubtreeModified',function(){
         let prev_value = $("#dast_scans").html()
         let current_value = $("#dast_scans_value").html()
         var new_value = prev_value.split("/")[0] + "/ " + current_value
         $("#dast_scans").text(new_value);
         disablePackageSelector()
    })

    $('#tasks_count_value').on('DOMSubtreeModified',function(){
         let prev_value = $("#tasks_count").html()
         let current_value = $("#tasks_count_value").html()
         var new_value = prev_value.split("/")[0] + "/ " + current_value
         $("#tasks_count").text(new_value);
         disablePackageSelector()
    })

    $('#tasks_executions_value').on('DOMSubtreeModified',function(){
         let prev_value = $("#tasks_executions").html()
         let current_value = $("#tasks_executions_value").html()
         var new_value = prev_value.split("/")[0] + "/ " + current_value
         $("#tasks_executions").text(new_value);
         disablePackageSelector()
    })

    $('#storage_space_value').on('DOMSubtreeModified',function(){
        let prev_value = $("#storage_space").html()
        let current_value = parseInt($("#storage_space_value").html())
        let new_value;
        if (current_value < 1000) {
           new_value = prev_value.split("/")[0] + "/ " + current_value + " Mb";
           } else {
           new_value = prev_value.split("/")[0] + "/ " + current_value/1000 + " Gb";
           }
        $("#storage_space").text(new_value);
        disablePackageSelector()
    })

    $('#data_retention_limit_value').on('DOMSubtreeModified',function(){
        let retention_limit_value = parseInt($("#data_retention_limit_value").html())
        let retention_limit_current_value;
        if (retention_limit_value == 365) {
           retention_limit_current_value = "1 year";
           } else {
           retention_limit_current_value = retention_limit_value/30 + " month";
           }
        $("#data_retention_limit").text(retention_limit_current_value);
        disablePackageSelector()
    })

    function showModal(modalID) {
        let project_id = getSelectedProjectId();
        if (modalID == "jiraModal") {
            $.ajax({
                url: `/api/v1/secrets/${project_id}/jira`,
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (result["secret"] != null) {
                        $("#jira_status").text("");
                        let data = JSON.parse(result["secret"])
                        $("#jira_url").val(data["jira_url"])
                        $("#jira_login").val(data["jira_login"])
                        $("#jira_password").val(data["jira_password"])
                        $("#jira_project").val(data["jira_project"])
                        $("#issue_type").val(data["issue_type"])
                    }
                }
            });
        } else if (modalID == "smtpModal") {
            $.ajax({
                url: `/api/v1/secrets/${project_id}/smtp`,
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (result["secret"] != null) {
                        $("#smtp_status").text("");
                        let data = JSON.parse(result["secret"])
                        $("#smtp_host").val(data["smtp_host"])
                        $("#smtp_port").val(data["smtp_port"])
                        $("#smtp_user").val(data["smtp_user"])
                        $("#smtp_password").val(data["smtp_password"])
                        $("#smtp_sender").val(data["smtp_sender"])
                    }
                }
            });
        } else if (modalID == "rpModal") {
            $.ajax({
                url: `/api/v1/secrets/${project_id}/rp`,
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (result["secret"] != null) {
                        $("#rp_status").text("");
                        let data = JSON.parse(result["secret"])
                        $("#rp_host").val(data["rp_host"])
                        $("#rp_token").val(data["rp_token"])
                        $("#rp_project").val(data["rp_project"])
                    }
                }
            });
        }
        $(`#${modalID}`).modal('show');
    }

    function setConfiguredIntegrations() {
        let project_id = getSelectedProjectId();
        ["jira", "rp", "ado", "smtp"].forEach( item => {
            $.ajax({
                url: `/api/v1/secrets/${project_id}/${item}`,
                type: 'GET',
                contentType: 'application/json',
                success: function (result) {
                    if (result["secret"] != null) {
                        $(`#${item}_modal`).addClass("bg-green");
                    } else {
                        $(`#${item}_modal`).addClass("bg-gray");
                    }
                }
            });
        })
    }

    $(document).ready(function() {
        getProjectDetails();
        getProjectQuota();
        setConfiguredIntegrations()
        $("#proj_name").prop( "disabled", true );
        $("#proj_owner").prop( "disabled", true );
    });


</script>
</body>
</html>
