{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
<div class="row">
    <div class="col-xl-12 mb-6 mb-xl-0">
        <div class="card bg-gradient-white shadow">
            <div class="card bg-gradient-white shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="text-gray mb-0">Projects</h2>
                        </div>
                        <div class="col">
                            <ul id="chart-control" class="nav nav-pills justify-content-end">
                                <li class="nav-item mr-2 mr-md-0">
                                    <a href="/project/add">
                                        <button id="CR" data-toggle="modal" class="btn btn-primary btn-sm">
                                            <span class="d-none d-md-block">Add Project</span>
                                        </button>
                                    </a>
                                </li>
                                <li class="nav-item mr-2 mr-md-0">
                                    <button id="RE" onclick="refreshProjectsTable()" class="btn btn-primary btn-sm">
                                        <span class="btn-inner--icon"><i class="fa fa-sync"></i></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="preset">
                    <table
                            id="projects-table"
                            data-toggle="table"
                            data-url="/api/v1/project/"
                            data-page-size=10
                            data-page-list=[10,20,50,100]
                            data-side-pagination="server"
                            data-pagination="true"
                            data-search="true">
                        <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-visible="false" data-field="id">Id</th>
                                <th data-sortable="false" data-field="name">Name</th>
                                <th data-sortable="false" data-field="project_owner">Owner</th>
                                <th data-sortable="false" data-formatter="checkFormatter">Services</th>
                                <th data-sortable="false">Stats</th>
                                <th data-sortable="false" data-field="package">Package</th>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'common/foot.html' %}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script>
    function refreshProjectsTable() {
        $("#projects-table").bootstrapTable("refresh");
    }

    function checkFormatter(value, row, index) {
        var return_string = ''
        var arr = ['sast_enabled', 'dast_enabled', 'performance_enabled']
        arr.forEach(item => {
            if ( row[item] ) {
                return_string += `<span class="badge badge-success mr-1">${item.split("_")[0]}</span>`
            } else {
                return_string += `<span class="badge badge-danger mr-1">${item.split("_")[0]}</span>`
            }
        })
        return return_string
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="project-select mr-2" href="javascript:void(0)" title="Select"><i class="fa fa-check"></i></a>',
            '<a class="project-settings mr-2" href="javascript:void(0)" title="Settings"><i class="fa fa-cog"></i></a>',
            '<a class="project-remove" href="javascript:void(0)" title="Remove"><i class="fa fa-trash"></i></a>'
        ].join('');
    }

    operateEvents = {
        'click .project-select': async function (e, value, row, index) {
            selectSessionProject(row);
        },
        'click .project-settings': function (e, value, row, index) {
            selectSessionProject(row);
            window.location.href="/project/configure";
        },
        'click .project-remove': async function (e, value, row, index) {
            try {
                let response = await fetch(`/api/v1/project/${row.id}`, {method: "DELETE"});
                let responseJson = await response.json();
                console.log(responseJson);
            } catch (err) {
                console.error(err);
                // Handle errors here
            }
            refreshProjectsTable();
        }
    };
</script>
</body>
</html>
