</head>
<body>
<div class="primary-nav" id="sidenav-main">
	<button class="hamburger open-panel nav-toggle"></button>
	<nav role="navigation" class="menu">
		<div class="overflow-container">
            <ul class="menu-dropdown">
                <li><a href="/projects">Projects</a><span class="icon"><i class="ni ni-badge main-menu"></i></span></li>
                <li><a href="/tasks">Tasks</a><span class="icon"><i class="ni ni-atom main-menu"></i></span></li>
                <li class="menu-hasdropdown">
                    <a href="#" onclick="openMenu('tests')">Tests Planner</a><span class="icon"><i class="fas fa-swatchbook main-menu"></i></span>
                    <input type="checkbox" class="sub-menu-checkbox" id="tests" />
					<ul class="sub-menu-dropdown">
						<li class="nav-item"><a class="nav-link ml-2" href="/tests?type=backend"><span class="icon"><i class="ni ni-sound-wave main-menu"></i></span>Backend Performance</a></li>
						<li class="nav-item"><a class="nav-link ml-2" href="/tests?type=frontend"><span class="icon"><i class="ni ni-album-2 main-menu"></i></span> UI Performance</a></li>
						<li class="nav-item"><a class="nav-link ml-2" href="/tests?type=security"><span class="icon"><i class="ni ni-lock-circle-open main-menu"></i></span> Security</a></li>
					</ul>
				</li>
				<li class="menu-hasdropdown">
                    <a href="#" onclick="openMenu('reports')">Reports</a><span class="icon"><i class="ni ni-single-copy-04 main-menu"></i></span>
                    <input type="checkbox" class="sub-menu-checkbox" id="reports" />
					<ul class="sub-menu-dropdown">
						<li class="nav-item"><a class="nav-link ml-2" href="/report"><span class="icon"><i class="ni ni-sound-wave main-menu"></i></span>Backend Reports</a></li>
						<li id="nav-ui-report" class="nav-item"><a class="nav-link ml-2" href="/artifacts?b=reports"><span class="icon"><i class="ni ni-album-2 main-menu"></i></span> UI Reports</a></li>
						<li id="nav-security-report" class="nav-item"><a class="nav-link ml-2" href="/security"><span class="icon"><i class="ni ni-lock-circle-open main-menu"></i></span> Security Reports</a></li>
					</ul>
				</li>
                <li class="menu-hasdropdown">
                    <a href="#" onclick="openMenu('qualitygates')">Thresholds</a><span class="icon"><i class="fas fa-chess-rook main-menu"></i></span>
                    <input type="checkbox" class="sub-menu-checkbox" id="qualitygates" />
					<ul class="sub-menu-dropdown">
						<li class="nav-item"><a class="nav-link ml-2" href="/thresholds/api"><span class="icon"><i class="ni ni-sound-wave main-menu"></i></span>Backend Thresholds</a></li>
						<li id="nav-ui-threshold" class="nav-item"><a class="nav-link ml-2" href="#"><span class="icon"><i class="ni ni-album-2 main-menu"></i></span> UI Thresholds</a></li>
						<li id="nav-security-threshold" class="nav-item"><a class="nav-link ml-2" href="#"><span class="icon"><i class="ni ni-lock-circle-open main-menu"></i></span> Security Thresholds</a></li>
					</ul>
				</li>
				<li><a href="/artifacts">Artifacts</a><span class="icon"><i class="ni ni-archive-2 main-menu"></i></span></li>
                <li><a href="/observer">Observer</a><span class="icon"><i class="ni ni-tv-2 main-menu"></i></span></li>
				<li><a href="/grafana">Grafana</a><span class="icon"><i class="ni ni-chart-bar-32 main-menu"></i></span></li>
			</ul>
		</div>
	</nav>
</div>
