<div class="main-content ml-5 mr-2">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="navbar-brand h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/tasks">
                <img src="{{ url_for('static', filename='img/brand/white.svg') }}" class="navbar-brand-img"
                     alt="...">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar-primary"
                    aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-primary">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar-primary" aria-controls="navbar-primary"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="projects-dropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="selected-project"
                                  class="nav-link-inner--text d-lg-inline-block">Select Project</span>
                            <span id="selected-project-id" hidden></span>
                        </a>
                        <div id="projects-dropdown-items" class="dropdown-menu" aria-labelledby="projects-dropdown">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-stars-purple pb-8 pt-5 pt-md-8 mr--2">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
