<hr class="my-4"/>
<div class="pl-lg-4">
    <div class="row">
        <div class="col-md-12">
            <h6 class="heading-small text-muted mb-4">Clouds</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('awsModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Amazon</h5>
                            <span class="h2 font-weight-bold mb-0">AWS</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="aws_modal">
                                <i class="fab fa-aws"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('azureCloudModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Microsoft</h5>
                            <span class="h2 font-weight-bold mb-0">Azure Cloud</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="azure_cloud_modal">
                                <i class="fab fa-microsoft"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('gcpModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Google</h5>
                            <span class="h2 font-weight-bold mb-0">GCP</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="gcp_modal">
                                <i class="fab fa-google"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('kubernetesModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">DigitalOcean</h5>
                            <span class="h2 font-weight-bold mb-0">Kubernetes</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="kubernetes_modal">
                                <i class="fas fa-dharmachakra"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
