<hr class="my-4"/>
<div class="pl-lg-4">
    <div class="row">
        <div class="col-md-12">
            <h6 class="heading-small text-muted mb-4">Integrations</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('jiraModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Atlassian</h5>
                            <span class="h2 font-weight-bold mb-0">Jira</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="jira_modal">
                                <i class="fab fa-atlassian"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('rpModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">EPAM</h5>
                            <span class="h2 font-weight-bold mb-0">ReportPortal</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="rp_modal">
                                <i class="fas fa-bullseye"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Microsoft</h5>
                            <span class="h2 font-weight-bold mb-0">Azure</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="ado_modal">
                                <i class="fab fa-microsoft"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-stats" style="cursor: pointer;" onclick="showModal('smtpModal')">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Email</h5>
                            <span class="h2 font-weight-bold mb-0">SMTP</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape text-white rounded-circle shadow" id="smtp_modal">
                                <i class="far fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
