{% include 'common/head.html' %}
<meta property="build_id" content="{{ test_data['build_id'] }}" />
<meta property="lg_type" content="{{ test_data['lg_type'] }}" />
<meta property="test_name" content="{{ test_data['name'] }}" />
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
  <!-- Card stats -->
  <div class="row header-body">
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Max vUsers</h5>
              <span class="h2 font-weight-bold mb-0">{{ test_data['vusers'] }} VU</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Avg. Throughput</h5>
              <span class="h2 font-weight-bold mb-0">{{ test_data['throughput'] }} req/sec</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fas fa-chart-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Error Rate</h5>
              <span class="h2 font-weight-bold mb-0">{{ (test_data['failures'] * 100 , test_data['total']) | is_zero }} %</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                <i class="fas fa-exclamation"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">95 pct. resp. time</h5>
              <span class="h2 font-weight-bold mb-0">{{ test_data['pct95'] }} ms</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-stopwatch"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row header-body">
     <div class="col-xl-12 col-lg-12">
         <div class="card card-stats mb-4 mb-xl-0">
             <div class="card-body">
                 <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Duration</h5>
                        <span class="h4 font-weight-bold mb-0">{{ test_data['duration'] }} s</span>
                    </div>
                     <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Started</h5>
                        <span id="start_time" class="h4 font-weight-bold mb-0">{{ test_data['start_time'] }}</span>
                    </div>
                     <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Ended</h5>
                        <span id="end_time" class="h4 font-weight-bold mb-0">{{ test_data['end_time'] }}</span>
                    </div>
                     <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Environment</h5>
                        <span class="h4 font-weight-bold mb-0">{{ test_data['environment'] }}</span>
                    </div>
                     <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Test Type</h5>
                        <span class="h4 font-weight-bold mb-0">{{ test_data['type'] }}</span>
                    </div>
                 </div>
                 <div class="row">
                     <div class="col mt-3">
                         <h4 class="card-title text-uppercase text-muted mb-0">Response Codes:</h4>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col">
                         <p class="mb-0">
                             <span class="h5 card-title text-uppercase text-muted mb-0 ">1xx:&nbsp;</span>
                             <span class="h4 font-weight-bold mb-0 ">{{ test_data['1xx'] }}</span>
                         </p>
                     </div>
                     <div class="col">
                         <p class="mb-0">
                             <span class="h5 card-title text-uppercase text-muted mb-0 ">2xx:&nbsp;</span>
                             <span class="h4 font-weight-bold mb-0 ">{{ test_data['2xx'] }}</span>
                         </p>
                     </div>
                     <div class="col">
                         <p class="mb-0">
                             <span class="h5 card-title text-uppercase text-muted mb-0 ">3xx:&nbsp;</span>
                             <span class="h4 font-weight-bold mb-0 ">{{ test_data['3xx'] }}</span>
                         </p>
                     </div>
                     <div class="col">
                         <p class="mb-0">
                             <span class="h5 card-title text-uppercase text-muted mb-0 ">4xx:&nbsp;</span>
                             <span class="h4 font-weight-bold mb-0 ">{{ test_data['4xx'] }}</span>
                         </p>
                     </div>
                     <div class="col">
                         <p class="mb-0">
                             <span class="h5 card-title text-uppercase text-muted mb-0 ">5xx:&nbsp;</span>
                             <span class="h4 font-weight-bold mb-0 ">{{ test_data['5xx'] }}</span>
                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
<div class="row header-body">
<div class="col-xl-12 mb-6 mb-xl-0">
  <div class="card bg-gradient-white shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1">Time Picker</h6>
            <div>
              <div id="input-slider-range" data-range-value-min="0" data-range-value-max="100"></div>
              <div class="row d-none">
                  <div class="col-6">
                      <span class="range-slider-value value-low" data-range-value-low="0" id="input-slider-range-value-low"></span>
                  </div>
                  <div class="col-6 text-right">
                      <span class="range-slider-value value-high" data-range-value-high="100" id="input-slider-range-value-high"></span>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row header-body">
<div class="col-xl-12 mb-6 mb-xl-0">
  <div class="card bg-gradient-white shadow">
    <div class="card-header bg-transparent">
      <div class="row align-items-center">
        <div class="col-xl-4">
          <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
          <h2 class="text-gray mb-0">Requests summary</h2>
        </div>
        <div class="col-xl-8">
            <ul id="chart-control" class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0">
                    <select class="selectpicker show-tick form-control form-control-md " id="aggregator" onchange="switchAggregator()">
                        <option>auto</option>
                        <option>1s</option>
                        <option>5s</option>
                        <option>30s</option>
                        <option>1m</option>
                        <option>5m</option>
                        <option>10m</option>
                    </select>
                </li>
                <li class="nav-item mr-2 mr-md-0">
                    <select class="selectpicker show-tick form-control form-control-md " id="sampler" onchange="switchSampler()">
                        {% for sampler in samplers %}
                          <option>{{ sampler }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li class="nav-item mr-2 mr-md-0">
                  <a id="RT" onclick="loadRequestData('/api/v1/chart/requests/summary', 'Response time, ms')" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Responses</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a id="AR" onclick="loadRequestData('/api/v1/chart/requests/average', 'Response time, ms')" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Average Reponse</span>
                    <span class="d-md-none">A</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a id="HT" onclick="loadRequestData('/api/v1/chart/requests/hits', 'Hits/Requests per second')" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Hits/TPS</span>
                    <span class="d-md-none">H</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a id="AN" onclick="displayAnalytics()" class="nav-link py-2 px-3" data-toggle="tab">
                    <span class="d-none d-md-block">Analytics</span>
                    <span class="d-md-none">N</span>
                  </a>
                </li>
                <li class="nav-item mr-2 mr-md-0">
                  <a id="DW" onclick="downloadPic()" class="nav-link py-2 px-3" download="download">
                      <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  </a>
                </li>
              </ul>
        </div>
      </div>
    </div>
    <div class="card-body" id="preset">
      <!-- Chart -->
      <div class="chart">
          <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                  <div class="">
                  </div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
              </div>
          </div>
        <canvas id="chart-requests" class="chart-canvas chartjs-render-monitor" style="display: block; height: 450px; width: 100%;"></canvas>
      </div>
    </div>
    <div class="card-body" id="analytics">
      <!-- Chart -->
        <div class="row">
            <div class="col-md-9">
              <div class="chart">
                  <div class="chartjs-size-monitor">
                      <div class="chartjs-size-monitor-expand">
                          <div class="">
                          </div>
                      </div>
                      <div class="chartjs-size-monitor-shrink">
                          <div class=""></div>
                      </div>
                  </div>
                <canvas id="chart-analytics" class="chart-canvas chartjs-render-monitor" style="display: block; height: 450px; width: 100%;"></canvas>
              </div>
            </div>
          <div class="col-md-3">
              <h4> Metrics </h4>
              <div class="pre-scrollable pr-3">
              {% for chapter in analytics_control %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ chapter }}</h5>
                        <div class="row">
                        {% for item in analytics_control[chapter] %}
                            <div class="col-md-6">
                                <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                  <input class="custom-control-input" id="{{chapter}}_{{item}}" type="checkbox" onchange="{{ analytics_control[chapter][item] }}">
                                  <label class="custom-control-label" for="{{chapter}}_{{item}}">{{item}}</label>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
              {% endfor %}
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
<div class="row header-body">
<div class="col-xl-12 col-lg-12">
    <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-gray mb-0">Test Results</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div>
                    <table id="summary_table" class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Ttl req, count</th>
                                <th scope="col">Thrghpt, req/sec</th>
                                <th scope="col">Errors, count</th>
                                <th scope="col">Min, ms</th>
                                <th scope="col">Median, ms</th>
                                <th scope="col">Pct95, ms</th>
                                <th scope="col">Max, ms</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row header-body">
    <div class="col-xl-12 col-lg-12">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-gray mb-0">Errors</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
                <table
                  id="errors"
                  data-toggle="table"
                  data-url=""
                  data-pagination="true"
                  data-detail-view="true"
                  data-detail-view-icon="false"
                  data-detail-view-by-click="true"
                  data-detail-formatter="detailFormatter">
                  <thead>
                    <tr>
                      <th data-sortable="true" data-field="Request name">Request name</th>
                      <th data-sortable="true" data-field="URL">URL</th>
                      <th data-sortable="true" data-field="Response code">Response Code</th>
                      <th data-sortable="true" data-field="Error message">Error Message</th>
                      <th data-sortable="true" data-field="count">Count</th>
                    </tr>
                  </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'common/foot.html' %}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="{{ url_for('static', filename='js/backend_report.js') }}"></script>
<script>
    function detailFormatter(index, row) {
        var html = []
        html.push('<p><b>Method:</b> ' + row['Method'] + '</p>')
        html.push('<p><b>Request Params:</b> ' + row['Request params'] + '</p>')
        html.push('<p><b>Headers:</b> ' + row['Headers'] + '</p>')
        html.push('<p><b>Response body:</b></p>')
        html.push('<textarea disabled style="width: 100%">'+row['Response body']+'</textarea>')
        return html.join('')
  }
</script>
</body>
</html>
