{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
<div class="row header-body">
    <div class="col-xl-4 mb-2 mb-xl-0">
        <div class="card bg-gradient-white shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="text-uppercase text-light ls-1 mb-1">Response Time</h4>
                    </div>
                    <div class="col">
                        <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item mr-2 mr-md-0">
                          <a onclick="downloadPic('chart-response')" class="nav-link py-2 px-3" download="download">
                              <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="chart chart-sm">
                          <div class="chartjs-size-monitor">
                              <div class="chartjs-size-monitor-expand">
                                  <div class="">
                                  </div>
                              </div>
                              <div class="chartjs-size-monitor-shrink">
                                  <div class=""></div>
                              </div>
                          </div>
                        <canvas id="chart-response" class="chart-canvas chartjs-render-monitor" style="display: block; width: 100%;"></canvas>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-2 mb-xl-0">
        <div class="card bg-gradient-white shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="text-uppercase text-light ls-1 mb-1">Requests per second</h4>
                    </div>
                    <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item mr-2 mr-md-0">
                          <a onclick="downloadPic('chart-rps')" class="nav-link py-2 px-3" download="download">
                              <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                          </a>
                        </li>
                    </ul>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="chart chart-sm">
                          <div class="chartjs-size-monitor">
                              <div class="chartjs-size-monitor-expand">
                                  <div class="">
                                  </div>
                              </div>
                              <div class="chartjs-size-monitor-shrink">
                                  <div class=""></div>
                              </div>
                          </div>
                        <canvas id="chart-rps" class="chart-canvas chartjs-render-monitor" style="display: block; width: 100%;"></canvas>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 mb-2 mb-xl-0">
        <div class="card bg-gradient-white shadow">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="text-uppercase text-light ls-1 mb-1">Errors</h4>
                    </div>
                    <div class="col">
                        <ul class="nav nav-pills justify-content-end">
                        <li class="nav-item mr-2 mr-md-0">
                          <a onclick="downloadPic('chart-errors')" class="nav-link py-2 px-3" download="download">
                              <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <div class="chart chart-sm">
                          <div class="chartjs-size-monitor">
                              <div class="chartjs-size-monitor-expand">
                                  <div class="">
                                  </div>
                              </div>
                              <div class="chartjs-size-monitor-shrink">
                                  <div class=""></div>
                              </div>
                          </div>
                        <canvas id="chart-errors" class="chart-canvas chartjs-render-monitor" style="display: block; width: 100%;"></canvas>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row header-body">
<div class="col-xl-12 mb-6 mb-xl-0">
  <div class="card bg-gradient-white shadow">
    <div class="card-header bg-transparent">
      <div class="row">
          <div class="col">
            <h2 class="text-gray mb-0">Build Comparison</h2>
          </div>
            <div class="col">
                <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0">
                        <select class="selectpicker show-tick form-control form-control-md " id="sampler" onchange="switchSampler()">
                            {% for sampler in samplers %}
                              <option>{{ sampler }}</option>
                            {% endfor %}
                        </select>
                    </li>
                  </ul>
            </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
            <h6 class="text-uppercase text-light ls-1 mb-1">Time Picker</h6>
            <div>
              <div id="input-slider-range" data-range-value-min="0" data-range-value-max="100"></div>
              <div class="row d-none">
                  <div class="col-6">
                      <span class="range-slider-value value-low" data-range-value-low="0" id="input-slider-range-value-low"></span>
                  </div>
                  <div class="col-6 text-right">
                      <span class="range-slider-value value-high" data-range-value-high="100" id="input-slider-range-value-high"></span>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row header-body">
<div class="col-xl-12 mb-6 mb-xl-0">
  <div class="card bg-gradient-white shadow">
      <div class="card bg-gradient-white shadow">
          <div class="card-header bg-transparent">
              <div class="row align-items-center">
                  <div class="col">
                      <h2 class="text-gray mb-0">Build Comparison. General</h2>
                  </div>
                  <div class="col">
                    <ul id="chart-control" class="nav nav-pills justify-content-end">
                        <li class="nav-item mr-2 mr-md-0">
                          <a id="DW" onclick="downloadPic('chart-analytics')" class="nav-link py-2 px-3" download="download">
                              <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                          </a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-body" id="analytics">
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_Min" type="checkbox" onchange="getData('Min', 'All')">
                        <label class="custom-control-label" for="All_Min">Min</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_Median" type="checkbox" onchange="getData('Median', 'All')">
                        <label class="custom-control-label" for="All_Median">Median</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_pct95" type="checkbox" onchange="getData('pct95', 'All')">
                        <label class="custom-control-label" for="All_pct95">Pct95</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_Max" type="checkbox" onchange="getData('Max', 'All')">
                        <label class="custom-control-label" for="All_Max">Max</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_Hits" type="checkbox" onchange="getData('Hits', 'All')">
                        <label class="custom-control-label" for="All_Hits">Hits per second</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_Throughput" type="checkbox" onchange="getData('Throughput', 'All')">
                        <label class="custom-control-label" for="All_Throughput">Throughput</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                        <input class="custom-control-input" id="All_Errors" type="checkbox" onchange="getData('Errors', 'All')">
                        <label class="custom-control-label" for="All_Errors">Errors</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div style="width: 30%;">
                            <select class="selectpicker show-tick form-control form-control-md " id="_status" onchange="updateComparisonChart()">
                                <option>all</option>
                                <option>ok</option>
                                <option>ko</option>
                            </select>
                     </div>
                </div>

            </div>
          <!-- Chart -->
            <div class="row">
                <div class="col-md-12">
                  <div class="chart">
                      <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand">
                              <div class="">
                              </div>
                          </div>
                          <div class="chartjs-size-monitor-shrink">
                              <div class=""></div>
                          </div>
                      </div>
                    <canvas id="chart-analytics" class="chart-canvas chartjs-render-monitor" style="display: block; height: 450px; width: 100%;"></canvas>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row header-body">
<div class="col-xl-12 mb-6 mb-xl-0">
  <div class="card bg-gradient-white shadow">
      <div class="card bg-gradient-white shadow">
          <div class="card-header bg-transparent">
              <div class="row align-items-center">
                  <div class="col">
                      <h2 class="text-gray mb-0">Benchmark Report</h2>
                  </div>
                  <div class="col">
                    <ul id="benchmark-control" class="nav nav-pills justify-content-end">
                        <li class="nav-item mr-2 mr-md-0">
                            <select class="selectpicker show-tick form-control form-control-md " id="timeaggr" onchange="switchAggregator()">
                                <option>auto</option>
                                <option>1s</option>
                                <option>5s</option>
                                <option>30s</option>
                                <option>1m</option>
                                <option>5m</option>
                                <option>10m</option>
                            </select>
                        </li>
                        <li class="nav-item mr-2 mr-md-0">
                            <select class="selectpicker show-tick form-control form-control-md " id="status" onchange="switchAggregator()">
                                <option>all</option>
                                <option>ok</option>
                                <option>ko</option>
                            </select>
                        </li>
                        <li class="nav-item mr-2 mr-md-0">
                            <select class="selectpicker show-tick form-control form-control-md " id="requestsaggr" onchange="switchAggregator()">
                                <option>All</option>
                                {% for request in requests %}
                                    <option>{{ request }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li class="nav-item mr-2 mr-md-0">
                            <select class="selectpicker show-tick form-control form-control-md " id="calculationaggr" onchange="switchAggregator()">
                                <option>min</option>
                                <option>median</option>
                                <option>mean</option>
                                <option>pct95</option>
                                <option>pct99</option>
                                <option>max</option>
                                <option>throughput</option>
                                <option>errors</option>
                            </select>
                        </li>
                        <li class="nav-item mr-2 mr-md-0">
                          <a id="DP" onclick="downloadPic('chart-benchmark')" class="nav-link py-2 px-3" download="download">
                              <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                          </a>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-body" id="benchmark">
          <!-- Chart -->
            <div class="row">
                <div class="col-md-12">
                  <div class="chart">
                      <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand">
                              <div class="">
                              </div>
                          </div>
                          <div class="chartjs-size-monitor-shrink">
                              <div class=""></div>
                          </div>
                      </div>
                    <canvas id="chart-benchmark" class="chart-canvas chartjs-render-monitor" style="display: block; height: 450px; width: 100%;"></canvas>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'common/foot.html' %}
<script src="{{ url_for('static', filename='js/compare_report.js') }}"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
</body>
</html>
