{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
<div class="row">
<div class="col-xl-12 mb-6 mb-xl-0">
  <div class="card bg-gradient-white shadow">
      <div class="card bg-gradient-white shadow">
          <div class="card-header bg-transparent">
              <div class="row align-items-center">
                  <div class="col">
<!--                          <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>-->
                      <h2 class="text-gray mb-0">Reports</h2>
                  </div>
                  <div class="col">
                      <ul id="chart-control" class="nav nav-pills justify-content-end">
                          <li class="nav-item mr-2 mr-md-0">
                          <button id="DR" onclick="deleteReports()" class="btn btn-primary btn-sm" data-toggle="tab" disabled>
                            <span class="d-none d-md-block">Delete</span>
                          </button>
                        </li>
                        <li class="nav-item mr-2 mr-md-0">
                          <button id="RT" onclick="runComparison()" class="btn btn-primary btn-sm" data-toggle="tab" disabled>
                            <span class="d-none d-md-block">Compare</span>
                            <span class="d-md-none">C</span>
                          </button>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-body" id="preset">
              <table
                  id="results"
                  data-toggle="table"
                  data-url="/report/all"
                  data-page-size=10
                  data-page-list=[10,20,50,100]
                  data-side-pagination="server"
                  data-pagination="true"
                  data-search="true">
                  <thead>
                    <tr>
                      <th data-checkbox="true"></th>
                      <th data-visible="false" data-field="id">index</th>
                      <th data-sortable="true" data-field="start_time">Start</th>
                      <th data-sortable="true" data-field="name" data-formatter=createLinkToReport>Name</th>
                      <th data-sortable="true" data-field="duration">Duration</th>
                      <th data-sortable="true" data-field="vusers">vUsers</th>
                      <th data-sortable="true" data-field="environment">Env</th>
                      <th data-sortable="true" data-field="type">Test Type</th>
                      <th data-field="throughput">TPS</th>
                      <th data-field="failure_rate" data-formatter=percentFormatter>Fail Rate</th>
                      <th data-field="lg_type" data-formatter=lgFormatter>Runner</th>
                    </tr>
                  </thead>
                </table>
          </div>
      </div>
  </div>
</div>
</div>
{% include 'common/foot.html' %}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
</body>
<script>
function createLinkToReport(value, row, index){
    return '<a href="/report/backend?report_id='+row['id']+'">'+value+'</a>'
}

function percentFormatter(value, row, index){
    return value+'&nbsp;%'
}

function lgFormatter(value, row, index){
    if (value === "jmeter"){
        return "<img src=\"{{ url_for('static', filename='img/icons/jmeter.png')}}\" width=\"25\">"
    } else if (value === "gatling") {
        return "<img src=\"{{ url_for('static', filename='img/icons/gatling.png') }}\" width=\"25\">"
    } else {
        return value
    }
}

 $("#results").on("check-some.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table", function() {
    if ($("#results").bootstrapTable('getSelections').length == 0) {
        $("#RT").prop("disabled", true);
        $("#RT").prop("disabled", true);
    } else {
        $("#DR").removeAttr("disabled");
        $("#RT").removeAttr("disabled");
    }
 })

function runComparison() {
    var reports = "/report/compare?"
    $("#results").bootstrapTable('getSelections').forEach(item => {
        reports+= "id[]="+item["id"]+"&"
    });
    window.location.href = reports.substring(0, reports.length - 1);
}

function deleteReports() {
    var reports = "/report/delete?"
    $("#results").bootstrapTable('getSelections').forEach(item => {
        reports+= "id[]="+item["id"]+"&"
    });
    $.ajax({
        url: reports.substring(0, reports.length - 1),
        type: 'DELETE',
        success: function(result) {
            $("#results").bootstrapTable('refresh');
        }
    });
}

</script>
</html>
