{% include 'common/head.html' %}
{% include 'common/nav.html' %}
{% include 'common/page_nav.html' %}
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">{{title}}</h3>
                    </div>
                    <div class="col-4 text-right">
                        <a href="/tests?type=backend" class="btn btn-sm btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="crtask">
                    <h6 class="heading-small text-muted mb-4">Test Details</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="testname">Test Name</label>
                                    <p><small>Enter a name that describes the purpose of your test.</small></p>
                                    <input type="text" id="testname" class="form-control form-control-alternative"
                                           placeholder="Test Name">
                                </div>
                                <div class="form-group" id="testrunners">
                                    <label class="form-control-label">Test runner</label>
                                    <p><small>Choose the runner for the test.</small></p>
                                    <select class="selectpicker show-tick form-control form-control-sm mt-1" id="runner">
                                        <optgroup label="jMeter">
                                            <option>v5.3</option>
                                            <option>v5.2.1</option>
                                            <option>v5.2</option>
                                            <option>v5.1.1</option>
                                            <option>v5.1</option>
                                            <option>v5.0</option>
                                            <option>v4.0</option>
                                        </optgroup>
                                        <optgroup label="Gatling">
                                            <option>v3.1</option>
                                            <option>v2.3</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="form-group" id="compileTests">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="compile" disabled>
                                        <label class="custom-control-label" for="compile">Check checkbox to compile
                                            tests. Used only for Gatling</label>
                                    </div>
                                </div>
                                <div class="form-group" id="testid" style="display:none">
                                    <label class="form-control-label" for="file">Test UUID</label>
                                    <p><small>
                                        UUID of the tests, may be used to refer it
                                    </small></p>
                                    <input type="text" id="testuuid" class="form-control form-control-alternative"
                                           disabled placeholder="">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="parallel">Parallel runners</label>
                                    <p><small>How many test agents you need to execute test</small></p>
                                    <input type="text" id="parallel" class="form-control form-control-alternative"
                                           placeholder="# of Runners">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <nav>
                                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-file-tab" data-toggle="tab" href="#nav-file" role="tab" aria-controls="nav-file" aria-selected="true">Artifact</a>
                                    <a class="nav-item nav-link" id="nav-git-tab" data-toggle="tab" href="#nav-git" role="tab" aria-controls="nav-git" aria-selected="false">Git</a>
                                  </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active" id="nav-file" role="tabpanel" aria-labelledby="nav-file-tab">
                                      <div class="form-group" id="fileUpload">
                                        <label class="form-control-label" for="file">Test package</label>
                                        <p><small>
                                            Please upload .zip file with your tests. Packaging guidelines.
                                        </small></p>
                                        <input type="file" class="form-control" id="file" multiple="">
                                      </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-git" role="tabpanel" aria-labelledby="nav-git-tab">
                                        <div id="target_git" class="carrier-sast-target">
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-control-label" for="repo">Git Repo with Tests</label>
                                                    <input type="text" id="repo" class="form-control form-control-alternative" placeholder="Repository URL (e.g. https://github.com/carrier-io/dusty.git)">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                  <label class="form-control-label" for="repo_user">Git Username</label>
                                                  <input type="text" id="repo_user" class="form-control form-control-alternative" placeholder="(optional, for HTTPS URLs)">
                                                </div>
                                                <div class="col">
                                                  <label class="form-control-label" for="repo_pass">Git Password</label>
                                                  <input type="text" id="repo_pass" class="form-control form-control-alternative" placeholder="(optional, for HTTPS URLs)">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label class="form-control-label" for="repo_key">Git SSH private key</label>
                                                    <input type="text" id="repo_key" class="form-control form-control-alternative" placeholder="(optional, for GIT+SSH URLs)">
                                                </div>
                                                <div class="col">
                                                    <label class="form-control-label" for="repo_branch">Git Branch</label>
                                                    <input type="text" id="repo_branch" class="form-control form-control-alternative" placeholder="(optional, default - master)">
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="entrypoint">Entry point</label>
                                    <p><small>File for jMeter and class for gatling</small></p>
                                    <input type="text" id="entrypoint" class="form-control form-control-alternative"
                                           placeholder="Entrypoint (e.g. some.jmx or some.Test)">
                                </div>
                                <div class="form-group" id="reporters">
                                    <label class="form-control-label">Reporting</label>
                                    <p><small>Specify expected report types</small></p>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="junit">
                                        <label class="custom-control-label" for="junit">jUnit Report</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="quality">
                                        <label class="custom-control-label" for="quality">Quality Gate</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="perfreports">
                                        <label class="custom-control-label" for="perfreports">Tool Reports</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="jira">
                                        <label class="custom-control-label" for="jira">Jira</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="rp">
                                        <label class="custom-control-label" for="rp">RP</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="ado">
                                        <label class="custom-control-label" for="ado">ADO</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="email">
                                        <label class="custom-control-label" for="email">Email</label>
                                    </div>
                                </div>
                                <div class="form-group" id="email_input" style="display: none;">
                                    <label class="form-control-label" for="emails">Comaseparated list of emails.</label>
                                    <input type="text" id="emails" class="form-control form-control-alternative"
                                           placeholder="Email recipients">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4"/>
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Test Parameters</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-control-label">Script Params</label>
                                <p>
                                    <small>Parameters required for the script to run</small>
                                    <a class="ml-3" href="javascript:void(0)" onclick="add('script_params')">
                                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                    </a>
                                    <a class="ml-3" href="javascript:void(0)" onclick="remove('script_params')">
                                        <span class="btn-inner--icon"><i class="fas fa-minus"></i></span>
                                    </a>
                                </p>
                                <div class="col-lg-10" id="script_params"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-control-label">Test Runner Environment</label>
                                <p>
                                    <small>Environment variables required for your test</small>
                                    <a class="ml-3" href="javascript:void(0)" onclick="add('env_vars')">
                                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                    </a>
                                    <a class="ml-3" href="javascript:void(0)" onclick="remove('env_vars')">
                                        <span class="btn-inner--icon"><i class="fas fa-minus"></i></span>
                                    </a>
                                </p>
                                <div class="col-lg-10" id="env_vars"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="form-control-label">Runner customizations</label>
                                <p>
                                    <small>Bucket and file for your customizations</small>
                                    <a class="ml-3" href="javascript:void(0)" onclick="addB('customs')">
                                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                    </a>
                                    <a class="ml-3" href="javascript:void(0)" onclick="remove('customs')">
                                        <span class="btn-inner--icon"><i class="fas fa-minus"></i></span>
                                    </a>
                                </p>
                                <div class="col-lg-10" id="customs"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-control-label">Distribution Environment</label>
                                <p>
                                    <small>Environment variables required for control tower</small>
                                    <a class="ml-3" href="javascript:void(0)" onclick="add('cc_env_vars')">
                                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                    </a>
                                    <a class="ml-3" href="javascript:void(0)" onclick="remove('cc_env_vars')">
                                        <span class="btn-inner--icon"><i class="fas fa-minus"></i></span>
                                    </a>
                                </p>
                                <div class="col-lg-10" id="cc_env_vars"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pl-lg-4 mt-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <button onclick="submitForm()" id="submit" class="btn btn-success">Create</button>
                                <a href="javascript:void(0)" class="btn btn-warning">Test</a>
                                <a href="/tests?type=backend" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'common/foot.html' %}
<script>
    var test_id = {{test_id}};

    function add(container) {
        $(`#${container}`).append(`<div class="input-group">
          <input type="text" placeholder="Key" class="form-control form-control-alternative">
          <input type="text" placeholder="Value" class="form-control form-control-alternative">
          </div>
        `)
    }

    $(document).ready(function() {
        if (test_id !== null) {
            var project_id = $("#selected-project-id").text();
            $.get(
                `/api/v1/tests/${project_id}/backend/${test_id}`, { raw: 1 }, function( data ) {
                    $('#submit').attr("onclick", "updateTest()");
                    $('#submit').text("Edit");
                    $('#testname').val(data.name);
                    $('#testname').prop("disabled", true);
                    $("#fileUpload").remove();
                    $("#compileTests").remove();
                    $("#testrunners").remove();
                    $("#testid").css("display", "block");
                    $("#testuuid").val(data.test_uid);
                    $('#entrypoint').val(data.entrypoint);
                    $('#entrypoint').prop("disabled", true);
                    $('#parallel').val(data.parallel);
                    $('#emails').val(data.emails);
                    if (data.git != null && data.git.hasOwnProperty("repo")) {
                        $('#repo').val(data.git.repo);
                        $('#repo_user').val(data.git.repo_user);
                        $('#repo_pass').val(data.git.repo_pass);
                        $('#repo_key').val(data.git.repo_key);
                        $('#repo_branch').val(data.git.repo_branch);
                        $("#nav-file-tab").prop("disabled", true)
                        $('a[href="#nav-git"]').click();
                    } else {
                        $("#nav-git-tab").prop("disabled", true)
                    }
                    data.reporting.forEach(item => {
                        $(`#${item}`).prop( "checked", true );
                    });
                    if ($(`#email`).prop( "checked")) {
                        $("#email_input").show();
                    }
                    for (let [key, value] of Object.entries(data.params)) {
                        add('script_params');
                        $("#script_params").children().last().children()[0].value = key;
                        $("#script_params").children().last().children()[1].value = value;
                    }
                    for (let [key, value] of Object.entries(data.env_vars)) {
                        add('env_vars');
                        $("#env_vars").children().last().children()[0].value = key;
                        $("#env_vars").children().last().children()[1].value = value;
                    }
                    for (let [key, value] of Object.entries(data.customization)) {
                        addB('customs');
                        $("#customs").children().last().children()[0].value = key;
                        $("#customs").children().last().children()[1].value = value;
                    }
                    for (let [key, value] of Object.entries(data.cc_env_vars)) {
                        add('cc_env_vars');
                        $("#cc_env_vars").children().last().children()[0].value = key;
                        $("#cc_env_vars").children().last().children()[1].value = value;
                    }
                });
        }
    });

    $('#runner').on("changed.bs.select", function() {
        if (["v5.3", "v5.2.1","v5.2", "v5.1.1", "v5.1", "v5.0", "v4.0"].includes($("#runner").val())) {
            $("#compile").attr("disabled", true);
        } else {
            $("#compile").attr("disabled", false);
        }
    });

    $("#email").change(function() {
        if (this.checked) {
          $("#email_input").show();
        } else {
          $("#email_input").hide();
        }
      });

    function addB(container) {
        $(`#${container}`).append(`<div class="input-group">
          <input type="text" placeholder="bucket/file path" class="form-control form-control-alternative">
          <input type="text" placeholder="destination path" class="form-control form-control-alternative">
          </div>
        `)
    }

    function remove(container) {
        $(`#${container} .input-group`).last().remove();
    }

    function get_script_paras() {
      var script_params = {}
      var env_vars = {}
      var cc_env_vars = {}
      var extensions = {}
      $("#script_params .input-group").each(function() {
           if ($(this).children()[0].value !== "" && $(this).children()[1].value !== "") {
                script_params[$(this).children()[0].value] = $(this).children()[1].value;
           }
      });
      $("#env_vars .input-group").each(function() {
           if ($(this).children()[0].value !== "" && $(this).children()[1].value !== "") {
                env_vars[$(this).children()[0].value] = $(this).children()[1].value;
           }
      });
      $("#customs .input-group").each(function() {
           if ($(this).children()[0].value !== "" && $(this).children()[1].value !== "") {
                extensions[$(this).children()[0].value] = $(this).children()[1].value;
           }
      });
      $("#cc_env_vars .input-group").each(function() {
           if ($(this).children()[0].value !== "" && $(this).children()[1].value !== "") {
                cc_env_vars[$(this).children()[0].value] = $(this).children()[1].value;
           }
      });

      return [script_params, env_vars, extensions, cc_env_vars];
    }

    function updateTest() {
        var project_id = $("#selected-project-id").text();
        var params = get_script_paras();
        var checked = []
        $("input:checkbox:checked").each(function() {
            checked.push($(this).attr("id"));
          });
        git_settings = {}
        if ($('#repo').val() != '') {
          git_settings["repo"] = $('#repo').val()
          git_settings["repo_user"] = $('#repo_user').val()
          git_settings["repo_pass"] = $('#repo_pass').val()
          git_settings["repo_key"] = $('#repo_key').val()
          git_settings["repo_branch"] = $('#repo_branch').val()
        }
        var data = {
            'params': JSON.stringify(params[0]),
            'env_vars': JSON.stringify(params[1]),
            'cc_env_vars': JSON.stringify(params[3]),
            'customization': JSON.stringify(params[2]),
            'java_opts': $("#javaopts").val(),
            'parallel': $('#parallel').val(),
            'reporter': checked,
            'emails': $('#emails').val(),
            'git': JSON.stringify(git_settings)
        }
        console.log(data);
        $.ajax({
            url: `/api/v1/tests/${project_id}/backend/${test_id}`,
            data: JSON.stringify(data),
            cache: false,
            contentType: 'application/json',
            type: 'PUT',
            success: function(data){
                window.location.href = "/tests?type=backend";
            }
        });
    }

    function submitForm() {
          $("#submit").html(`<span class="spinner-border spinner-border-sm"></span>`);
          $("#submit").addClass("disabled");
          var checked = []
          var params = get_script_paras();
          $("input:checkbox:checked").each(function() {
            if ($(this).attr("id") != "compile") {
                checked.push($(this).attr("id"));
            }
          });
          var compile = $('#compile').is(":checked")
          var project_id = $("#selected-project-id").text();
          event.preventDefault();

          var data = new FormData();
          git_settings = {}
          if ($('#repo').val() != '') {
            git_settings["repo"] = $('#repo').val()
            git_settings["repo_user"] = $('#repo_user').val()
            git_settings["repo_pass"] = $('#repo_pass').val()
            git_settings["repo_key"] = $('#repo_key').val()
            git_settings["repo_branch"] = $('#repo_branch').val()
            data.append('git', JSON.stringify(git_settings));
          } else if ($('#file')[0].files[0] != undefined) {
            data.append('file', $('#file')[0].files[0], $('#file')[0].files[0].name);
          }

          data.append('name', $('#testname').val());
          data.append('parallel', $('#parallel').val());
          data.append('entrypoint', $('#entrypoint').val());
          data.append('runner', $('#runner').val());
          data.append('reporter', checked);
          data.append('compile', compile);
          data.append('emails', $('#emails').val());
          data.append('params', JSON.stringify(params[0]));
          data.append('env_vars', JSON.stringify(params[1]));
          data.append('customization', JSON.stringify(params[2]));
          data.append('cc_env_vars', JSON.stringify(params[3]));

          $.ajax({
              url: `/api/v1/tests/${project_id}/backend`,
              data: data,
              cache: false,
              contentType: false,
              processData: false,
              method: 'POST',
              success: function(data){
                window.location.href = "/tests?type=backend";
              }
            }
          );
        }

</script>
</body>
</html>
